.App {
	text-align: center;
}

.section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	.section div {
		margin: 20px;
	}

.block {
	margin: auto;
	display: block;
}

h1 {
	font-size: 36pt;
}

.subheader1 {
	margin: 20px;
	font-size: 14pt;
}

.subheader2 {
	margin: 5px;
	font-size: 12pt;
	font-weight: normal;
}

.menu {
	margin-top: 100px;
}

.label img {
	border-radius: 50%;
	border: 8px solid white;
}

.checkbox:checked + .label img {
	border-radius: 50%;
	border: 8px solid rgb(66, 166, 206);
}

.checkbox {
	display: none;
}