.App {
	text-align: center;
}

.section {
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	.section div {
		margin: 20px;
	}

.block {
	margin: auto;
	display: block;
}

h1 {
	font-size: 36pt;
}

.made-to-order {
	margin: 20px;
	font-size: 14pt;
}

.menu {
	margin-top: 100px;
}