.App {
	text-align: center;
}

div {
	margin-bottom: 100px;
}

.block {
	margin: auto;
	display: block;
}

h1 {
	font-size: 36pt;
}

.made-to-order {
	margin: 20px;
	font-size: 14pt;
}

.menu {
	margin-top: 100px;
}