.category {
	max-width: 1200px;
	min-width: 375px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.option {
	margin: 15px;
}

.block {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.create-bowl {
	font-size: 36pt;
}

.subheader1 {
	margin: 20px;
	font-size: 14pt;
}

.subheader2 {
	margin: 5px;
	font-size: 12pt;
	font-weight: normal;
}

.menu {
	margin-top: 100px;
}

.label img {
	border-radius: 50%;
	border: 10px solid white;
}

.checkbox:checked + .label img {
	border-radius: 50%;
	border: 10px solid rgb(66, 166, 206);
}

.checkbox {
	display: none;
}

.checkout{
	margin: 50px;
	width: 200px;
	height: 80px;
}

.edit-order {
	margin: 30px;
	width: 100px;
	height: 40px;
}

.logo {
	margin-bottom: 50px;
	width: 500px;
	height: 300px;
}

.cust-info, .order-sum {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.order-sum ul {
	text-align: right;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

span, li, td {
	padding: 5px;
}

textarea {
	resize: none;
}

table {
	margin: auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 15px;
	border-spacing: 0;
}

tr {
	vertical-align: top;
}

tr:nth-child(even) {
	background-color: rgb(226, 226, 226);
}

.required {
	margin-top: 50px;
	font-size: 10pt;
}