.ingredients {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	.ingredients div {
		margin: 15px;
	}

.block {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1 {
	font-size: 36pt;
}

.subheader1 {
	margin: 20px;
	font-size: 14pt;
}

.subheader2 {
	margin: 5px;
	font-size: 12pt;
	font-weight: normal;
}

.menu {
	margin-top: 100px;
}

.label img {
	border-radius: 50%;
	border: 8px solid white;
}

.checkbox:checked + .label img {
	border-radius: 50%;
	border: 8px solid rgb(66, 166, 206);
}

.checkbox {
	display: none;
}

.checkout, .place-order {
	margin: 50px;
	width: 200px;
	height: 80px;
}

.logo {
	margin-bottom: 50px;
	width: 500px;
	height: 300px;
}

.cust-info, .order-sum {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

textarea {
	resize: none;
}